.container{
    height: auto;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item-container{
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 26%;
    margin: 1.2rem;
}
.vedio-box{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.vedio{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.video-detail{
    display: flex;
    flex-direction: column;
    border: none;
}
.title{
    font-size: 1rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.subtitle{
    font-size: 0.8rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(107, 104, 104);
}
