.Login-container{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    font-size: 16px;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-logo{
    height: 130px;
    width: 290px;
    border-radius: 32px;
    margin-bottom: 1rem;
}
.login-logo-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 32px;
}
.reg-link{
    font-size: 15px;
    color: blue;
    text-decoration: underline;
    margin-bottom: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    justify-content: center;
}
input{
    height: 32px;
    width: 390px;
    padding: 12px;
    margin-top: 15px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 8px;
}
.button{
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    margin-top: 30px;
    padding: 4px;
    font-size: 21px;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    border-radius:8px;
    color: black;
}
.button:hover{
    background-color: rgb(228, 37, 37);
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width : 700px) {
    input{
        height: 28px;
        width: 320px;
    }   
}

@media screen and (max-width : 400px) {
    input{
        height: 24px;
        width: 280px;
    }   
}